option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE_URL: "postgresql://arkadmin:Flamengo20@ark-database.chwuqogmans6.us-east-2.rds.amazonaws.com:5432/arkdb"
    JWT_SECRET: "|QzyK7omJjBjxmU10n.6.m1<J2JlE95^"
    NODE_ENV: "production"
    PORT: "8080"
    EMAIL_HOST: "smtp.gmail.com"
    EMAIL_PORT: "587"
    EMAIL_USER: "contato.arksistemas@gmail.com"
    EMAIL_PASS: "euot joff blgf vtcf"
    AWS_ACCESS_KEY_ID: "AKIAYXWBOCENUJEFN3FG"
    AWS_SECRET_ACCESS_KEY: "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"
    AWS_S3_BUCKET_NAME: "ark-pro-logos-clientes-rodrigo-ramos"
    AWS_REGION: "sa-east-1"